RABBIT_HOST=213.199.42.57
RABBIT_PORT=5672
RABBIT_USER=students
RABBIT_PASSWORD=<password_del_curso>
RABBIT_VHOST=/
RABBIT_QUEUE=laboratorio_1

KAFKA_BOOTSTRAP_SERVERS=213.199.42.57:9092
KAFKA_TOPIC=laboratorio_1
KAFKA_CONSUMER_GROUP=grupo_estudiantes_1

SONAR_TOKEN=<token_del_curso>

